# Melio Fullstack Data Scientist Technical Interview

### Task 1: Building the classifier

This is the main data science component of the technical assessment.

Build a classifier to determine whether the name belongs to a `Person`, `Company`, or `University`:

  - You can use any library you want.
  - You can use a rule-based classification, a pre-built model/embedding, build a model yourself or a hybrid. 
  - Format:
    - If you are building an ML solution, the training of your model can be in a Jupyter notebook. 
    - If you are not building an ML solution, you will have to embed your python code into the app.

Note that the classifications are generated by the client's upstream system, but it is not always correct. 

## Submission Requirements

  1. Give enough information on how to run your solution (i.e. python version, packages, requirements.txt, Dockerfile, etc.).
  2. State all of your assumptions, if any.
  3. There is no right or wrong answer, but give a clear reasoning on each step you took.

In [1]:
import pandas as pd

df = pd.read_csv('data/names_data_candidate.csv')
df.sample(10)

                 dirty_name dirty_label
4345  Omeida Global Pty Ltd     Company
2568       Bernhard Sumshon      Person
3586       mégane lawerence      Person
3631       Dr. zhì halewood      Person
4164   skinder  Partnership     Company
1969       Xolani Van Eeden      Person
3632      MRS Réjane Warsop      Person
3066       Dr. Bendix Coult      Person
2277           AGACE BERROW      Person
2720        Mr debra ilsley     Company